
<h4 align="center" style="padding-top: 5%"><strong>Ajouter votre annonce</strong></h4>
<form [formGroup]="voyageForm" (ngSubmit)="onSubmit()" style="    width: 23%;
    margin-left: 38%;">
  <div class="form-group">
    <label >Depart</label>
    <select class="form-control form-control-lg" formControlName="depart">
      <OPTION  selected>Départ
      <OPTION value="Tunis">Tunis
      <OPTION value="Kram">Kram
      <option value="Nabeul">Nabeul
      <OPTION value="Takelsa">Takelsa
      <OPTION value="Ghazela">Ghazela
    </select>
  </div>
  <div class="form-group">
    <label >Arrivé</label>
    <select class="form-control form-control-lg" formControlName="arrivé">
      <OPTION  selected>Arrivé
      <OPTION value="Tunis">Tunis
      <OPTION value="Kram">Kram
      <option value="Nabeul">Nabeul
      <OPTION value="Takelsa">Takelsa
      <OPTION value="Ghazela">Ghazela
    </select>
  </div>
  <div class="form-group row">
    <label for="example-datetime-local-input">Date and time</label>
    <div class="col-10">
      <input formControlName="dateh_dep" class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
    </div>
  </div>
  <div class="form-group">
    <label >Numero voiture</label>
    <input class="form-control form-control-lg" type="text" formControlName="num_voiture"/>
  </div>
  <div class="form-group">
    <label >Numero telephone</label>
    <input class="form-control form-control-lg" type="text" formControlName="num_tel"/>
  </div>
  <div class="form-group">
    <label >Nombre de places</label>
    <input class="form-control form-control-lg" type="text" formControlName="nbr_places"/>
  </div>
  <div class="form-group">
    <label >Prix</label>
    <input class="form-control form-control-lg" type="text" formControlName="prix"/>
  </div>
  <div class="form-group">
    <input type="submit">
  </div>
</form>
